{{- $name:= promptStringOnce . "name" "Full user name" -}}
{{- $email := promptStringOnce . "email" "User's email address" -}}
{{- $ws_hostname:= promptStringOnce . "ws_hostname" "Workstation hostname" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    ws_hostname = {{ $ws_hostname | quote }}
