#!/usr/bin/env bash

#echo ":: Install hyprland"
#yay -Sy --noconfirm --needed hyprland dunst kitty otf-font-awesome waybar uwsm nautilus wofi noto-fonts noto-fonts-emoji ttf-firacode-nerd ttf-ubuntu-mono-nerd ttf-ubuntu-nerd xdg-desktop-portal-gtk xdg-desktop-portal-hyprland qt5-wayland qt6-wayland polkit grim slurp gcr brightnessctl hyprpaper hyprpicker hypridle hyprlock

echo ":: Install mangowc"
yay -Sy --noconfirm --needed mangowc kitty wl-clipboard wmenu grim slurp swaybg ttf-jetbrains-mono-nerd otf-font-awesome waybar nautilus wofi noto-fonts noto-fonts-emoji polkit grim slurp xdg-desktop-poprtal-gtk gcr

