#!/usr/bin/env bash
#
# install-packages.sh - install software from repos
#

echo ":: Install base packages"
yay -Sy --noconfirm --needed base-devel git linux linux-firmware btrfs-progs intel-ucode chezmoi

echo ":: Install display manager"
yay -Sy --noconfirm --needed brightnessctl ly
# edit global config file, create directory in user's cache for logs
sudo systemctl enable ly

