#!/usr/bin/env bash

echo ":: Install CLI tools"
yay -Sy --noconfirm --needed htop exfat-utils chezmoi neovim openssh htop wget iwd wireless_tools wpa_supplicant smartmontools xdg-utils xdg-user-dirs pass fastfetch
xdg-user-dirs-update
# install yazi
yay -Sy --noconfirm --needed yazi poppler fd ffmpeg 7zip jq ripreg fzf zoxide resvg imagemagick wl-clipboard
ya pkg add yazi-rs/plugins:mount

#echo ":: Install Intel graphics driver"
#yay -Sy --noconfirm --needed xorg-server xorg-xinit mesa libva-intel-driver intel-media-driver vulkan-intel

#echo ":: Install hyprland"
#yay -Sy --noconfirm --needed hyprland dunst kitty otf-font-awesome waybar uwsm nautilus wofi noto-fonts noto-fonts-emoji ttf-firacode-nerd ttf-ubuntu-mono-nerd ttf-ubuntu-nerd xdg-desktop-portal-gtk xdg-desktop-portal-hyprland qt5-wayland qt6-wayland polkit grim slurp gcr brightnessctl hyprpaper hyprpicker hypridle hyprlock

echo ":: Install GUI apps"
yay -Sy --noconfirm --needed noto-fonts-noto-fonts-emoji firefox thunderbird libreoffice-fresh gimp

