#!/usr/bin/env bash

if ! pacman -Qs yay > /dev/null; then
  echo ":: Update system packages (packman)"
  packman -Syu --noconfirm
else
  echo ":: Update system packages (yay)"
  yay -Syu --noconfirm
fi
